.userprofile-container {
    max-width: 1200px;
    min-height: 850px;
    margin: 3% auto;
    padding-top: 0.5px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 50px;
    /* background-color: rgba(230, 230, 230, 0.87); */
    box-shadow: 1px 1px 11px -4px #000;
  }

  
  .useprofile-header {
    color: rgba(230, 230, 230, 0.87);
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    font-family: Oxygen, sans-serif;
  }



  .useprofile-text {
    padding-top: 5%;
    color: rgba(230, 230, 230, 0.87);
    font-size: 35px;
    font-weight: 400;
    text-align: center;
    font-family: Oxygen, sans-serif;
  }

  
  .userprofile_background{
    background-image: url(../images/userprofile-background.jpg);
    background-size: cover;
    position: fixed;
    z-index: -1;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    height: 100vh;
  }

.go_to_history{
  padding-top: 100%;
  margin-top: 50%;
  padding-left:28%;
  color: rgba(230, 230, 230, 0.87);
  font-size: 35px;
  font-weight: 400;
  text-align: center;
  font-family: Oxygen, sans-serif;

}


.upload_background{
  background-image: url(../images/car.jpg);
  background-size: cover;
  position: fixed;
  z-index: -1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: 100vh;
}